<h1>Gulp HBS test</h1>
<table>
    <thead>
    <th>Name</th>
    <th>Job Title</th>
    <th>Twitter</th>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>{{fullName person}}</td>
            <td>{{jobTitle}}</td>
            <td><a href="https://twitter.com/{{twitter}}">@{{twitter}}</a></td>
        </tr>
    {{/users}}
    </tbody>
</table>
